.root{
    position: relative ;
    left: -60px;
}


.input{
   

    border: 1px solid rgb(0, 0, 0, 0.1);
    width: 450px;
    border-radius: 30px;
    padding: 15px 20px;
    font-size: 16px;
    padding-left: 45px;
    transition: all 0.15s ease-in-out;
    &:focus{
        
        border: 1px solid rgb(0, 0, 0, 0.3);
        border-radius: 10px;

    }
}
.icon{
    position: absolute;
    width: 25px;
    height: 25px;
    opacity: 0.5;
    left: 12px;
    top: 12px;
}
.clear{
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    right: 12px;
    top: 15px;
    opacity: 0.5;
    &:hover{
    opacity: 0.8;

    }

}